.home-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/luna.jpg') center/cover no-repeat; /* Reemplaza 'ruta/imagen-fondo.jpg' con la ruta correcta de tu imagen de fondo */
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Cambia el color del texto según tu diseño */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; /* Cambia el color del botón según tu diseño */
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #153b55; /* Cambia el color del botón según tu diseño */

  }