.principal-timeline {
    background: url('../assets/luna.jpg') center/cover no-repeat;
    height: 100%;
    width: 100%;
}

.title-timeline {
    color: white;
    font-size: large;
    font-weight: 100;
    text-align: center;
    font-weight: bold;
}

.clase-fecha {
    color: rgb(119, 118, 118);
}

